* {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

body {
    margin: 0;
}

div {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #f6f6f6;
    height: 747px;
}

h1,
h3 {
    padding-top: 30px;
    margin: 0;
    text-align: center;
}

img {
    margin: 20px;
}

.imeg-1 {
    float: left;
    height: 591px;
    width: 361px;
}

.texthd {
    padding-top: 100px;
    padding-right: 350px;
    padding-left: 30px;
    background: #f6f6f6;
    width: auto;
}

.bottom {
    padding-bottom: 50px;
}

main {
    padding-top: 100px;
    padding-left: 0;
}

.imeg-2 {
    float: left;
}

.imeg-3 {
    float: left;
    margin-top: 80px;
}

.h4 {
    font-size: 16px;
    font-weight: bolder;
    margin-top: 100px;
}

.h3 {
    text-align: center;
    font-weight: bolder;
    font-size: 18px;
    margin: 60px;
    margin-left: 0;
}

.paragraph {
    padding-left: 300px;
    width: 45%;
    padding-bottom: 50px;
}

.paragraph2 {
    width: 80%;
    padding-top: 90px;
    padding-bottom: 150px;
}

.share {
    margin: 0;
    padding-top: 25px;
}

aside {
    padding-top: 50px;
    width: 110%;
}

.h2 {
    font-weight: bolder;
    font-size: 24px;
}

figure {
    float: left;
    margin: 0;
    width: 20%;
}

.imeg-4 {
    height: 80%;
    width: 80%;
}

figcaption {
    text-align: center;
    padding-right: 20px;
}

footer {
    padding-top: 500px;
    text-align: center;
}

section {
    float: left;
    width: 20%;
    text-align: center;
    font-size: 0.85em;
}

.width {
    padding-left: 130px;
    width: 300px;
}

.width2 {
    padding-left: 60px;
    width: 500px;
}

.width3 {
    float: left;
    width: 50%;
}

.imeg-5 {
    margin: 0;
}

form {
    margin: 0;
    overflow: hidden;
}

.click {
    width: 80px;
    height: 50px;
    background: url(images/clickbg.png);
    font-weight: bolder;
    border: 0;
}

.click:hover {
    color: red;
}

.form {
    text-align: center;
    width: 180px;
    height: 44px;
}

nav {
    float: right;
    padding: 20px;
}

.left {
    padding-right: 400px;
    float: left;
    color: gray;
}

.a {
    padding: 20px;
    padding-right: 0;
    color: rgb(70, 70, 70);
    text-decoration: none;
}

.a:hover {
    color: blue;
}

.a:active {
    color: green;
}