    * {
        font-family: Arial, Helvetica, sans-serif;
    }
    
    img {
        margin-right: 20px;
    }
    
    div {
        width: 65%;
        margin: 0 auto;
    }
    
    p {
        font-size: 0.93em;
    }
    
    h2 {
        font-size: 24px;
    }
    
    h1,
    h3 {
        text-align: center;
    }
    
    header {
        margin: 50px auto;
        height: 688px;
        background-color: rgb(238, 238, 238);
        padding: 25px;
    }
    
    .imeg-1 {
        float: left;
        height: 591px;
        width: 361px;
    }
    
    .imeg-2 {
        float: left;
    }
    
    .imeg-3 {
        float: left;
        margin-top: 50px;
    }
    
    main {
        padding-top: 50px;
        margin: 50px auto;
        padding: 25px;
    }
    
    .paragraph {
        padding-left: 450px;
        width: 850px;
    }
    
    aside {
        margin: 50px auto;
        width: 90%;
    }
    
    .text {
        padding-left: 140px;
    }
    
    figure {
        float: left;
        width: 13%;
    }
    
    figcaption {
        padding-left: 150px;
        text-align: center;
    }
    
    footer {
        margin: 50px auto;
        width: 90%;
    }
    
    section {
        padding-left: 150px;
        float: left;
        width: 20%;
        text-align: center;
        font-size: 0.85em;
    }
    
    .width {
        width: 250px;
    }
    
    .click {
        width: 50px;
        height: 30px;
        background-color: rgb(255, 168, 190);
        border: 0;
    }
    
    .form {
        width: 130px;
        height: 23px;
    }
    
    nav {
        float: right;
        padding: 20px;
    }
    
    .left {
        margin-top: 450px;
        float: left;
        color: gray;
    }