* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

header {}

.head_wrap {
    width: 80%;
    margin: 0 auto;
}

div.part1_header {
    height: 30px;
    display: block;
    padding: 7px 0 7px 0;
}

.commit_header {
    float: left;
    font-size: 14px;
    color: gray;
    margin: 5px;
}

.nav_other {
    float: right;
    margin: 5px;
}

.color_a {
    text-decoration: none;
    font-size: 14px;
    color: #00ffbc;
    padding-right: 15px;
}

.color_a:hover {
    color: black;
}

.icon {
    padding: 2px 10px 0 0;
    margin-right: 40px;
}

.fa {
    padding: 0 7px 0 7px;
}

.fa-facebook {
    color: #00ffbc;
}

.fa-facebook:hover {
    color: black;
}

.fa-twitter {
    color: #00ffbc;
}

.fa-twitter:hover {
    color: black;
}

.fa-google-plus {
    color: #00ffbc;
}

.fa-google-plus:hover {
    color: black;
}

.fa-vimeo {
    color: #00ffbc;
}

.fa-vimeo:hover {
    color: black;
}

.fa-youtube {
    color: #00ffbc;
}

.fa-youtube:hover {
    color: black;
}

.fa-pinterest-square {
    color: #00ffbc;
}

.fa-pinterest-square:hover {
    color: black;
}

.search {
    display: block;
}

.form_search {
    position: relative;
    margin: 0 auto;
    left: -10px;
}

.input_search {
    height: 25px;
    width: 0;
    padding: 0 15px 0 15px;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    background: transparent;
    transition: .4s cubic-bezier(0, 0.8, 0, 1);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer
}

.input_search:focus {
    width: 50%;
}

.button_search {
    background: white;
    border: none;
    height: 25px;
    width: 25px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    cursor: pointer;
}

.button_search:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: gray;
}

.button_search:before:hover {
    color: #00ffbc;
}

.line_header_height {
    border-right: 0.5px solid rgb(233, 233, 233);
}

.line_header_width {
    border: 0.5px solid rgb(233, 233, 233);
    border: 80%;
}

.part2_header {
    height: 60px;
    padding: 20px 0 20px 0;
}

.image_header {
    float: left;
    padding: 7px 0 7px 0;
}

.nav_site_header {
    float: left;
    padding-top: 20px;
    text-align: center;
    position: absolute;
    left: 28%;
    right: 28%;
}

.nav_site_header a {
    color: black;
    text-decoration: none;
    font-size: 15px;
    padding: 0 20px 0 20px;
}

.activ_section {
    color: #00ffbc !important;
}

.nav_site_header a:hover {
    color: #00ffbc;
}

.click_header {
    float: right;
}

.button_buy {
    background: white;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 3px;
    font-weight: bold;
    width: 4cm;
    height: 1.5cm;
}

.button_buy:hover {
    background: #00ffbc;
    border: 0;
    color: white;
}

.main_big_image {
    display: block;
    width: 100%;
}

.main_container {
    width: 80%;
}

.main_contant {
    float: left;
    width: 75%;
}

.sidebar {
    float: right;
    width: 25%;
}